In [82]:
## Loading Libraries
import pandas
import numpy

In [75]:
## loading Data
gap = pandas.read_csv('gapminder.csv')
print(len(gap))
print(len(gap.columns))

## converting variable names to lower case
gap.columns=map(str.lower, gap.columns)

213
16

In [85]:
## Creating a categorical variable
gap['incomeperperson_cat']=pandas.qcut(gap.incomeperperson, 4, 
    labels=["1st quartile","2nd quartile","3rd quartile","4th quartile"])
gap.head()

,country,incomeperperson,alcconsumption,armedforcesrate,breastcancerper100th,co2emissions,femaleemployrate,hivrate,internetuserate,lifeexpectancy,oilperperson,polityscore,relectricperperson,suicideper100th,employrate,urbanrate,incomeperperson_cat
0,Afghanistan,,.03,.5696534,26.8,75944000,25.6000003814697,,3.65412162280064,48.673,,0,,6.68438529968262,55.7000007629394,24.04,1st quartile
1,Albania,1914.99655094922,7.29,1.0247361,57.4,223747333.333333,42.0999984741211,,44.9899469578783,76.918,,9,636.341383366604,7.69932985305786,51.4000015258789,46.72,2nd quartile
2,Algeria,2231.99333515006,.69,2.306817,23.5,2932108666.66667,31.7000007629394,.1,12.5000733055148,73.131,.42009452521537,2,590.509814347428,4.8487696647644,50.5,65.22,2nd quartile
3,Andorra,21943.3398976022,10.17,,,,,,81,,,,,5.36217880249023,,88.92,2nd quartile
4,Angola,1381.00426770244,5.57,1.4613288,23.1,248358000,69.4000015258789,2,9.99995388324075,51.093,,-2,172.999227388199,14.5546770095825,75.6999969482422,56.7,1st quartile

In [89]:
print("income per person quartiles")
category1 = gap["incomeperperson_cat"].value_counts(sort=False)
print(category1)

print("\n")

print("income per person percentages")
category2 = gap["incomeperperson_cat"].value_counts(sort=False,normalize=True)
print(category2)

income per person quartiles
1st quartile    54
2nd quartile    53
3rd quartile    53
4th quartile    53
dtype: int64


income per person percentages
1st quartile    0.253521
2nd quartile    0.248826
3rd quartile    0.248826
4th quartile    0.248826
dtype: float64

In [87]:
print("income per person quartiles-second method")
category3 = gap.groupby('incomeperperson_cat').size()
print(category3)

print("\n")

print("income per person percentages-second method")
category4 = gap.groupby('incomeperperson_cat').size()*100/len(gap)
print(category4)

income per person quartiles-second method
incomeperperson_cat
1st quartile    54
2nd quartile    53
3rd quartile    53
4th quartile    53
dtype: int64


income per person percentages-second method
incomeperperson_cat
1st quartile    25.352113
2nd quartile    24.882629
3rd quartile    24.882629
4th quartile    24.882629
dtype: float64

In [90]:
## Creating a quantitative varibale
gap['incomeperperson'] = pandas.to_numeric(gap['incomeperperson'],errors='coerce')
quantity1 = gap["incomeperperson"].value_counts(sort=False)
print(quantity1)

561.708585      1
2668.020519     1
5634.003948     1
6147.779610     1
772.933345      1
1975.551906     1
1543.956457     1
13577.879885    1
15461.758372    1
523.950151      1
33923.313868    1
30532.277044    1
5900.616944     1
20751.893424    1
786.700098      1
275.884287      1
276.200413      1
4885.046701     1
1144.102193     1
1784.071284     1
369.572954      1
9243.587053     1
285.224449      1
37662.751250    1
544.599477      1
37491.179523    1
180.083376      1
1525.780116     1
39972.352768    1
18982.269285    1
               ..
5348.597192     1
12505.212545    1
62682.147006    1
161.317137      1
220.891248      1
952.827261      1
32535.832512    1
736.268054      1
371.424198      1
9425.325870     1
1253.292015     1
27110.731591    1
25575.352623    1
744.239413      1
2025.282665     1
1258.762596     1
8445.526689     1
5188.900935     1
32292.482984    1
239.518749      1
25306.187193    1
5528.363114     1
242.677534      1
2534.000380     1
16372.499781    1
2549.558474     1
760.262365      1
31993.200694    1
22275.751661    1
10749.419238    1
Name: incomeperperson, dtype: int64

In [91]:
quantity2 = gap.groupby('incomeperperson').size()
print(quantity2)

incomeperperson
103.775857       1
115.305996       1
131.796207       1
155.033231       1
161.317137       1
180.083376       1
184.141797       1
220.891248       1
239.518749       1
242.677534       1
268.259450       1
268.331790       1
269.892881       1
275.884287       1
276.200413       1
279.180453       1
285.224449       1
320.771890       1
336.368749       1
338.266391       1
354.599726       1
358.979540       1
369.572954       1
371.424198       1
372.728414       1
377.039699       1
377.421113       1
389.763634       1
411.501447       1
432.226337       1
                ..
20751.893424     1
21087.394125     1
21943.339898     1
22275.751661     1
22878.466567     1
24496.048264     1
25249.986061     1
25306.187193     1
25575.352623     1
26551.844238     1
26692.984107     1
27110.731591     1
27595.091347     1
28033.489283     1
30532.277044     1
31993.200694     1
32292.482984     1
32535.832512     1
33923.313868     1
33931.832079     1
33945.314422     1
35536.072471     1
37491.179523     1
37662.751250     1
39309.478859     1
39972.352768     1
52301.587179     1
62682.147006     1
81647.100031     1
105147.437697    1
dtype: int64

In [93]:
## Subsetting Data
gap['suicideper100th'] = pandas.to_numeric(gap['suicideper100th'],errors='coerce')

gap_refined = gap[(gap['suicideper100th']>0) & (gap['incomeperperson']>0) ]
gap_refined[['country','incomeperperson','suicideper100th']].head()

               country  incomeperperson  suicideper100th
1              Albania      1914.996551         7.699330
2              Algeria      2231.993335         4.848770
3              Andorra     21943.339898         5.362179
4               Angola      1381.004268        14.554677
5  Antigua and Barbuda     11894.464075         2.161843